body{
  margin: 0;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limits to 1 line */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


body::-webkit-scrollbar {
  display: none;
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  display: none;
  background: lightgray;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 81, 97,0.30);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid lightgray;  /* creates padding around scroll thumb */
}